[*.{cs,vb}]

# IDE0032: Use auto property
dotnet_diagnostic.IDE0032.severity = suggestion

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = suggestion
